<!DOCTYPE html>
<html>
  <head>
    <title>my movies</title>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="../styles/style-dreams.css" />
  </head>
  <body>
    <div class="my-box">
      <div>
        <img
          src="https://64.media.tumblr.com/d228debe07de150a184628b1103fbc44/tumblr_mxe323lAHC1qf1aoao2_500.gifv"
          alt="russian ark-sukurov"
        />
        <img
          src="https://64.media.tumblr.com/8df868f75b1fb9ff8fa6087d88d2da88/tumblr_mxe323lAHC1qf1aoao1_500.gifv"
          alt="russian ark-sukurov"
        />
        <img
          src="https://64.media.tumblr.com/04007b840e0abda8440820aa21452be9/tumblr_mxe323lAHC1qf1aoao4_500.gifv"
          alt="russian ark-sukurov"
        />
      </div>
      <h2>dreams</h2>
    </div>

    <div>
      <a id="go-back" href="/">back to main page</a>
    </div>
  </body>
</html>
