<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../styles/style-ideas.css" />
    <title>ideas</title>
  </head>
  <body>


    <div>
      <img  id="img-1" src="https://64.media.tumblr.com/3c5b5c18fb45f2d3d2a3502e0c7875e8/tumblr_mgxvq3WIcK1qlv378o1_r2_640.jpg" alt="small sculpture">
      <div class="right-box">
      <img id="img-2" src="https://64.media.tumblr.com/ebaeaca1e8f0cc00f4642ca54d89369d/tumblr_odjuu6Mhe01sorrnlo1_640.jpg" alt="sculpture museum">
     
    </div>
  </div>
      <h2>ideas</h2>
      <hr>
    <div class="box">
      <img id="img-3" src="https://64.media.tumblr.com/c40e09d330ac37ad11e4622d02e34ee7/tumblr_oox63vqpkN1qgiw5to1_500.jpg" alt="marble sculpture">
      <img id="img-4" src="https://64.media.tumblr.com/da0020195285e5242be9011baf11d54e/tumblr_ogf0rmQxI31sdred2o1_640.jpg" alt="girl">
    </div>
  
  
    <br>
        <a id="go-back" href="/">back to main page</a>
    
   
    </div>
  </body>
</html>
