<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/style-movies.css" />
    <title>my movies</title>
</head>
<body>
    <h2>my movies</h2>
    <section>

        <ul>
<li><h4>Nosferatu</h4>
    <p>F.W. Murnau - 1922</p>
    <p>Vampire Count Orlok is interested in a new residence and in his real estate agent’s young wife. F. W. Murnau’s unauthorized adaptation of Bram Stoker’s “Dracula.”</p>
</li>
<li><h4>Faust</h4>
    <p>F.W. Murnau - 1926</p>
    <p>God and Satan war over earth; to settle things, they wager on the soul of Faust, a learned and prayerful alchemist.</p>
</li>
<li><h4>Metropolis</h4>
    <p>Fritz Lang - 1927</p>
    <p>In a futuristic city sharply divided between the working class and the city planners, the son of the city’s mastermind falls in love with a working class prophet who predicts the coming of a savior to mediate their differences.</p>
</li>
<li><h4>Sunrise: A Song of Two Humans</h4>
    <p>F.W. Murnau - 1927</p>
    <p>A married farmer falls under the spell of a slatternly woman from the city, who tries to convince him to drown his wife.</p>
</li>
<li><h4>October (Ten Days that Shook the World)</h4>
    <p>Sergei Eisenstein, Grigori Aleksandrov - 1927</p>
    <p>Sergei M. Eisenstein’s docu-drama about the 1917 October Revolution in Russia. Made ten years after the events and edited in Eisenstein’s ‘Soviet Montage’ style, it re-enacts in celebratory terms several key scenes from the revolution.</p>
</li>
<li><h4>The Passion of Joan of Arc</h4>
    <p>Carl Theodor Dreyer - 1928</p>
    <p>A classic of the silent age, this film tells the story of the doomed but ultimately canonized 15th-century teenage warrior. On trial for claiming she’d spoken to God, Jeanne d’Arc is subjected to inhumane treatment and scare tactics at the hands of church court officials. Initially bullied into changing her story, Jeanne eventually opts for what she sees as the truth. Her punishment, a famously brutal execution, earns her perpetual martyrdom.</p>
</li>
<li><h4>Man with a Movie Camera</h4>
    <p>Dziga Vertov - 1929</p>
    <p>A cameraman wanders around Moscow, Kharkov, Kiev and Odessa with a camera slung over his shoulder, documenting urban life with dazzling invention.</p>
</li>
<li><h4>Un Chien Andalou</h4>
    <p>Luis Buñuel - 1929</p>
    <p>Un Chien Andalou is a classic European avant-garde surrealist film from the cooperation of director Luis Buñuel and Salvador Dali. The film changed the way people made movies. Most famous is the scene of a woman’s eye being cut with a knife.</p>
</li>
        </ul>
<br>
        <div>
            <a id="go-back" href="/">back to main page</a>
          </div>

</body>
</html>