<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../styles/style-thoughts.css" />
    <title>thoughts</title>
  </head>
  <body>
    <div class="my-box">
      <div>
      <img
        src="https://64.media.tumblr.com/ec2a2f31c2ffbeb89a0ffd53b4f60223/tumblr_nps1kkuAty1uy7rcho2_640.jpg"
        alt="plate detail"
      />
    </div>
    <div class="box-2">
    <h2>thoughts</h2>
  </div>
    </div>
    
    <div>
      <a id="go-back" href="/">back to main page</a>
    </div>
  </body>
</html>
